name: Hello World

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show repo files
        run: ls -la

      - name: Basic test step
        run: echo "GitHub Actions is working!"
